{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 appearances-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container ml-auto text-center">
    <div class="btn-group flex-wrap" role="group" id="appearance-filter-buttons">
      {{ range .buttons }}
      <button type="button" class="btn btn-dark app-control" data-filter="{{ .filter }}">
        {{ .name }}
      </button>
      {{ end }}
    </div>
  </div>
  <div class="container filtr-appearances">
    <div class="row" id="appearance-card-holder">
      {{ range .appearances }}
        {{ partial "cards/appearance" . }}
      {{ end }}
    </div>
  </div>
</div>
